<title>FireWatch</title>
<link rel="icon" href="burn_rBj_icon.ico">

<meta name="viewport" content="initial-scale=1.0, width=device-width" />

<!-- stylesheets -->

<link rel="stylesheet" type="text/css"
href="http://js.api.here.com/v3/3.0/mapsjs-ui.css">

<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<link rel="stylesheet" href="main.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- body -->

<div class="container">
  <transition name="fade">
    <div class="header">
      <h1><span>Fire</span>Watch</h1>
      <div class="search">
        <input id="search" type="text" placeholder="search location">
          <button class="open" id="myBtn"><span class="glyphicon glyphicon-bell"></button>
      </div>
    </div>
  </transition>
  <div class="map">
    <div class="info" id="app">
      <transition name="fade">
        <div class="news-container" v-if="location">
          <div class="news-header">
            <h3>Local News in {{ location }}</h3>
          </div>
          <div class="news">
            <div class="news-tile" v-for="article in news">
              <a v-bind:href="article.url" target="_blank">{{ article.title }}</a>
              <p><em>{{ article.source.name }}</em></p>
            </div>
            <div v-if="news.length === 0">
              <p>There are no news articles about local fires right now.</p>
            </div>
          </div>
        </div>
      </transition>
    </div>

    <div id="mapContainer"></div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4> Your Information</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-edit"></span> Email</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-map-marker"></span> Location</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter Location">
            </div>
              <button type="submit" class="btn btn-success btn-block" id="not"></span>Get Notified!</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>


<!-- scripts -->

<script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"
type="text/javascript" charset="utf-8"></script>

<script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"
type="text/javascript" charset="utf-8"></script>

<script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"
type="text/javascript" charset="utf-8"></script>

<script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js"
type="text/javascript" charset="utf-8"></script>

<script src="http://js.api.here.com/v3/3.0/mapsjs-clustering.js"
type="text/javascript" charset="utf-8"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMkRXwmqpItcwIaQP-MmXJbOlfpLqvMmQ&libraries=places"></script>

<!-- development version of vuejs, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="/socket.io/socket.io.js"></script>

<!-- custom scripts -->
<script src="script.js"></script>
