
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

.container {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: normal;
}

.header {
  height: 70px;
  width: 100%;
  background: #FAFAFA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
}

.header span {
  color: #FF5722;
}

.map {
  height: calc(100% - 70px);
  position: relative;
  z-index: 1;
}

#mapContainer {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.news-container {
  width: 25%;
  min-width: 300px;
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}

.news-header h3 {
  margin: 0;
}

.news-header {
  padding: 10px;
  box-sizing: border-box;
  background: #FAFAFA;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.news-tile {
  background: red;
}


